@font-face {
	font-family: Podkova-Bold;
	font-display: swap;
	src: url("../fonts/Podkova-Bold.woff2") format("woff2"), url("../fonts/Podkova-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Podkova-ExtraBold;
	font-display: swap;
	src: url("../fonts/Podkova-ExtraBold.woff2") format("woff2"), url("../fonts/Podkova-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Podkova-Regular;
	font-display: swap;
	src: url("../fonts/Podkova-Regular.woff2") format("woff2"), url("../fonts/Podkova-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Podkova-Medium;
	font-display: swap;
	src: url("../fonts/Podkova-Medium.woff2") format("woff2"), url("../fonts/Podkova-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Podkova-SemiBold;
	font-display: swap;
	src: url("../fonts/Podkova-SemiBold.woff2") format("woff2"), url("../fonts/Podkova-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
