// Обнуляем стили:
// ============================================//
@import '_nulled';
// Зависимости:
// ============================================//
@import '_main';
// Подключаем переменные:
// ============================================//
@import 'variables';
// Подключаем шрифты:
// ============================================//
@import 'fonts';

// Подключаем бургер меню:
// ============================================//
@import 'assets/header';

// Медиазапросы:
// ============================================//

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
}

.container {
	@include header;
	.container__content {
		padding-top: $header-height;
		margin: 0px auto;
		width: 610px;

		.scene3d__wrapper {
			height: 370px;
			width: 100%;
		}
		.hello__wrapper {
			// @include animatedShowLeftToPosition;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			width: 100%;
			background: linear-gradient(90.4deg, #fe6783 0.09%, #ffbf84 99.9%);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			border-radius: 15px;
			margin-top: 15px;
			margin-bottom: 15px;
			p {
				font-family: Podkova-Regular;
				font-size: 24px;
				color: #2c2c2c;
			}
		}
		.about_me__wrapper {
			background: rgba(255, 255, 255, 0.03);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			border: 1px solid rgba(255, 255, 255, 0.3);
			padding: 10px;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 180px;
			h3 {
				font-size: 32px;
				font-family: Podkova-Bold;
				color: #ffffff;
			}
			.first_subtitle__wrapper {
				p {
					font-size: 20px;
					font-family: Podkova-Regular;
					color: #ffffffaa;
				}
			}
			.secont_subtitle__wrapper {
				p {
					font-size: 20px;
					font-family: Podkova-Regular;
					color: #ffffffaa;
				}
			}
			.last_subtitle__wrapper {
				p {
					font-size: 20px;
					font-family: Podkova-Regular;
					color: #ffffffaa;
				}
			}
		}
		.partfolio__wrapper {
			display: flex;
			flex-direction: column;
			height: 420px;
			justify-content: space-between;
			.subtitle__wrapper {
				margin-top: 15px;
				// margin-bottom: 15px;
				p {
					font-size: 20px;
					font-family: Podkova-Regular;
					color: #ffffffaa;
				}
			}
			.app__wrapper {
				background: rgba(255, 255, 255, 0.03);
				border-radius: 16px;
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(5px);
				-webkit-backdrop-filter: blur(5px);
				border: 1px solid rgba(255, 255, 255, 0.3);
				padding: 10px;

				display: flex;
				flex-direction: row;

				.icon__wrapper {
					.image {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						height: 180px;
						width: 180px;
					}
				}
				.title__wrapper {
					display: flex;
					flex-direction: column;
					height: 180px;
					justify-content: space-around;

					.title {
						margin-left: 10px;
						p {
							font-family: Podkova-Bold;
							color: #ffffffaa;
							font-size: 20px;
						}
					}
					.subtitle {
						margin-left: 10px;
						p {
							font-family: Podkova-Regular;
							color: #ffffffaa;
							font-size: 20px;
						}
					}
					.gp_icon {
						width: 100%;
						.img {
							position: relative;
							float: right;
						}
					}
				}
			}
		}

		.layouts__wrapper {
			.examples__wrapper {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;

				.example {
					&:nth-child(4n + 3) {
						margin-top: 15px;
					}
					&:nth-child(4n) {
						margin-top: 15px;
					}
					// margin-bottom: 15px;
					width: 298px;
					height: 160px;
					/* From https://css.glass */
					background: rgba(255, 255, 255, 0.03);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(255, 255, 255, 0.3);
					// padding: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					.img {
						border-radius: 16px;
						display: block;
					}
				}
			}
		}

		.telegram_examples__wrapper {
			/* From https://css.glass */
			background: rgba(255, 255, 255, 0.03);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			border: 1px solid rgba(255, 255, 255, 0.3);
			padding: 10px;

			.tm_example__wrapper {
				display: flex;
				z-index: 5;
				align-items: center;
				height: 60px;
				.icon {
					img {
						height: 40px;
						width: 40px;
					}
				}
				.title {
					margin: auto;
					margin-left: 10px;
					p {
						font-size: 20px;
						font-family: Podkova-Regular;
						color: #ffffffaa;
					}
				}
			}
			.im_example__wrapper {
				display: flex;
				margin-top: 15px;
				display: flex;
				align-items: center;
				.icon {
					img {
						height: 40px;
						width: 40px;
					}
				}
				.title {
					margin: auto;
					margin-left: 10px;
					p {
						font-size: 20px;
						font-family: Podkova-Regular;
						color: #ffffffaa;
					}
				}
			}
			.title {
				margin-top: 15px;
				p {
					font-size: 20px;
					font-family: Podkova-Regular;
					color: #ffffffaa;
				}
			}
		}
	}
	.subtitle__wrapper {
		margin-top: 15px;
		margin-bottom: 15px;
		p {
			font-size: 20px;
			font-family: Podkova-Regular;
			color: #ffffffaa;
		}
	}
	.footer__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100px;
		p {
			margin-left: 5px;
			margin-left: 5px;
			font-family: Podkova-Regular;
			color: #ffffff;
		}
	}
	@include container();
}
